
# #───< Filament sensor ---------------------------------------------------------
# [gcode_button runout_T0]
# debounce_delay: 1
# pin: ^!et0:PB9
# press_gcode:
#   FILAMENT_RUNOUT INSERT=0 # <- tool number
# release_gcode:
#   FILAMENT_RUNOUT REMOVE=0

#------------------------------------------------------------------------------------------------------------------

[gcode_macro FILAMENT_RUNOUT]
variable_runout_delay:              10 # <- how many seconds after runout to force trigger the runout
variable_max_extrude_after_runout:  5  # in mm
variable_active_config:{}
gcode:
    {% import toolchanger_helper as tch with context %}
    {% import variable_helper    as svh with context %}

    # ╭──────────────────────────────── shorts ────────────────────────────────╮
    {% set p, th, tc = printer, printer.toolhead, printer.toolchanger %}
    {% set tcs       = p['gcode_macro _toolchanger_settings'] %}
    {% set now       = th.estimated_print_time %}
    {% set state     = p.print_stats.state|lower %}
    {% set settings  = p['gcode_macro _FILAMENT_RUNOUT_MANAGER'].ui_settings %}
    {% set sens_key  = settings.svf_sensor_key %}
    # ╰────────────────────────────────────────────────────────────────────────╯

    {% set action = 'REMOVE' if 'REMOVE' in params else 'INSERT' if 'INSERT' in params else False %}
    {% if action %}
        {% set tn     = params[action]|int %}
        {% set key    = tch.tk_lower(tn) %}

        # ╭────────────── update svf if inserted/removed ──────────────╮
        {% if action == 'REMOVE' %}
            {svh.svf_update(sens_key ~      '.' ~ key, 'absent')}
            {svh.svf_update('recent_tooltemps.' ~ key, None)}
            _UNIFIED_RESPOND MSG="?t?pFil ?t?s0?mfilament removed"
        {% elif action == 'INSERT' %}
            {% set key = tch.tk_lower(params.INSERT|int) %}
            {svh.svf_update(sens_key ~ '.' ~ key, 'present')}
            _UNIFIED_RESPOND MSG="?t?pT0_Fil ?t?s0?mfilament inserted"
        {% endif %}
        # ╰─────────────────────────────────────────────────────────────╯

        {% if state == 'printing' and action == 'REMOVE' %}
            {% if 'backup' not in active_config.get(key, {}) %}
                PAUSE
            {% else %}
                # ╭─────────────────── backup tool handling ───────────────────╮
                {% set backup_tn   = active_config.get(key).backup %}
                {% set cur_temp    = tch.get_tool_target(tn) %}
                M104 T{backup_tn} S{tch.get_tool_target(tn)}
                #–-–< save for checking
                {svh.gcode_var_update('_RUNOUT_WATCHDOG', 'runout_event.runout_time',   now)}
                {svh.gcode_var_update('_RUNOUT_WATCHDOG', 'runout_event.runout_length', th.position[3])}
                {svh.gcode_var_update('_RUNOUT_WATCHDOG', 'runout_event.tn', tn)}
                {svh.gcode_var_update('_RUNOUT_WATCHDOG', 'runout_event.backup_tn', backup_tn)}
                #–-–< que macro for earlier then timeout/after runout distance trigger
                SET_PAUSE_AT_EXTRUSION_ROLE  MACRO="_RUNOUT_WATCHDOG TRIGGER=ROLE" ROLE="infill"
                SET_PAUSE_NEXT_LAYER         MACRO="_RUNOUT_WATCHDOG TRIGGER=LAYER"
                _RUNOUT_WATCHDOG
                # ╰─────────────────────────────────────────────────────────────╯
            {% endif %}
        {% else %}
      {% endif %}
    {% endif %}
    #------------------------------------------------------------------------------------------------------------------

[delayed_gcode _RUNOUT_WATCHDOG_LOOP]
gcode:
    UPDATE_DELAYED_GCODE ID=_RUNOUT_WATCHDOG_LOOP DURATION=0 # ensure not multiple callbacks at once
    _RUNOUT_WATCHDOG

[gcode_macro _RUNOUT_WATCHDOG]
variable_runout_event: {}
variable_abort_on_paused: True
variable_loop_delay: 0.15
gcode:
    {% import toolchanger_helper as tch with context %}
    {% import variable_helper    as svh with context %}

    {% set p, th, tc = printer, printer.toolhead, printer.toolchanger %}
    {% set FR = p['gcode_macro FILAMENT_RUNOUT'] %}
    {% set RE = runout_event %}

    # ╭─────────────────────── runout_change ────────────────────────╮
    {%- macro runout_change(tool_number, backup_number) -%}
        SAVE_GCODE_STATE NAME=_RUNOUT_WATCHDOG
        M83
        G1 E-2
        M104 T{backup_number} S{tch.get_tool_target(tool_number)}
        M104 T{tool_number} S0
        {svh.gcode_var_update('T' ~ tool_number, 'tool_number', backup_number)}
        T{tool_number}
        G1 E2
        RESTORE_GCODE_STATE NAME=_RUNOUT_WATCHDOG
    {%- endmacro -%}
    # ╰──────────────────────────────────────────────────────────────╯

    # ╭─────────────────────── cleanup ────────────────────────╮
    {%- macro cleanup() -%}
        SET_PAUSE_AT_EXTRUSION_ROLE ENABLE=0
        SET_PAUSE_NEXT_LAYER ENABLE=0
        {svh.gcode_var_update('_RUNOUT_WATCHDOG', 'runout_event', {}, mode='replace')}
        UPDATE_DELAYED_GCODE ID=_RUNOUT_WATCHDOG_LOOP DURATION=0
    {%- endmacro -%}
    # ╰────────────────────────────────────────────────────────╯

    {% if p.print_stats.state|lower == 'printing' %}
        {tch.respond_colored('we arent printing anymore, aborting', '_RUNOUT_WATCHDOG', 'warning--text')}
        {cleanup()}
    {% elif p.pause_resume.is_paused %}
        {svh.gcode_var_update('T' ~ RE.tn, 'tool_number', RE.backup_tn) if not abort_on_paused and RE|length > 0 else ''}
        {cleanup()}
    {% elif RE|length > 0 %}
        # ╭────────────────────────────────── check if we should ───────────────────────────────────╮
        {% set exceeded_t  = th.estimated_print_time - RE.runout_time >= FR.runout_delay %}
        {% set delta_e     = th.position[3] - RE.runout_length %}
        {% set exceeded_e  = delta_e < 0 or delta_e >= FR.max_extrude_after_runout %}

        {% if 'TRIGGER' in params %}
            {% set reason = 'layer change' if params.TRIGGER == 'LAYER' else 'chosen extrusion role' %}
        {% elif exceeded_e or exceeded_t %}
            {% set reason = 'hit extrusion limit' if exceeded_e else 'timed out' %}
        {% else %}
            UPDATE_DELAYED_GCODE ID=_RUNOUT_WATCHDOG_LOOP DURATION={loop_delay}
        {% endif %}
        # ╰──────────────────────────────────────────────────────────────────────────────────────────╯
        {% if reason %}
            {tch.respond_colored('selecting backup, ' ~ reason ~ ' (' ~ tool_key(RE.tn) ~ ' → ' ~ tool_key(RE.backup_tn) ~ ')', '_RUNOUT_WATCHDOG', 'success--text')}
            {runout_change(RE.tn, RE.backup_tn)}
            {cleanup()}
        {% endif %}
    {% else %}
        {tch.respond_colored('please fill "runout_event" with data first.', '_RUNOUT_WATCHDOG', 'warning--text')}
    {% endif %}
